form{
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 20px;
}

button {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

input{
    margin-bottom: 10px;
    padding: 8px;
}

textarea{
    padding: 8px;

}

p{
    font-weight: bold;
}